<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>173781115129-fivv4s3oe3q5957dtl1p0psfo37iep7o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.173781115129-fivv4s3oe3q5957dtl1p0psfo37iep7o</string>
	<key>API_KEY</key>
	<string>AIzaSyBUpNGja0fjHTP81tOKdqwsGtENu6eDDlk</string>
	<key>GCM_SENDER_ID</key>
	<string>173781115129</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.singh.adarsh.CricLIV</string>
	<key>PROJECT_ID</key>
	<string>cricliv-9cc3c</string>
	<key>STORAGE_BUCKET</key>
	<string>cricliv-9cc3c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:173781115129:ios:1b723ef47567f66ebf0228</string>
</dict>
</plist>